body {
  counter-reset: figure-counter table-counter formula-counter;
}

figure {
  counter-increment: figure-counter;
}

figure figcaption::before {
  content: "Figure " counter(figure-counter) ": ";
  font-weight: bold;
}

table {
  counter-increment: table-counter;
}

table caption::before {
  content: "Table " counter(table-counter) ": ";
  font-weight: bold;
}

.table-bordered {
  border: 1px solid #e9ecef;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #e9ecef;
}

.table-sm td, .table-sm th {
  padding: .3rem;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0,0,0,.05);
}

.formula {
  counter-increment: formula-counter;
  display: inline-block;
  margin-bottom: 1em;
}

.formula span {
  display: inline;
}

.formula figcaption::before {
  content: "Formula " counter(formula-counter) ": ";
  font-weight: bold;
  display: inline;
}

.reference {
  font-weight: bold;
}
