.table-bordered {
  border: 1px solid #e9ecef;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #e9ecef;
}

.table-sm td, .table-sm th {
  padding: .3rem;
}
